.Orders{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../images/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    overflow-y: auto;

}
.List{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%
}