.Controls{
    padding: 0 10px;
    position: static;
    width: 350px;
    bottom: 0;
    height: 500px;
    left: 50px;
    border-radius: 30px 30px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
    box-shadow: 0 0px 10px rgb(0, 0, 0);
    margin: 0 50px;
    margin-bottom: 50px;
    overflow: hidden;
    overflow-y: scroll;
}
.ControlPanels{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
@media only screen and (max-width:1100px) {
    .ControlPanels{
        flex-direction: column;
        margin-top: 500px;
        height: auto;
    }
    .Controls{
        height: 500px;
    }
}

.Part{
    margin: 10px auto;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: background-color;
    transition-duration: 0.02s;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-name: scaleIn;
    transform: scale(1);
}
.PartCC{
    margin: 10px auto;
    width: 325px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: background-color;
    transition-duration: 0.02s;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-name: scaleIn;
    transform: scale(1);
    justify-content: center;
    
}
.PartCC input{
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    border-radius: 5px;
    
}
.PartCC input:focus{
    outline: none;
}
.NameCC{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
}
.PriceCC{
    
    font-size: 20px;
    margin-right: 15px;
}
.ParentCC{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.OneLineFlex{
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
@keyframes scaleIn {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px);
      animation-play-state: paused;
    }
}
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.ImgBg{
    
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    
}
.ImgBg img{
    margin: 5px;

    
}
.ImgBg svg{
    fill: #e3e3e3;
}
.Text{

    font-size: 21px;
    margin-left: 15px;
}
.Price{
    font-size: 20px;
    margin-right: 15px;
}
.NameCP{
    font-size: 20px;
    margin-left: 25px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
    text-overflow: ellipsis;
}
.ParentCP{
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.Parent{
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}
.Part:hover, .PartCC:hover{
    background-color: rgba(255, 255, 255,0.3);
    transition: background-color;
    transition-duration: .05s;
}
.Name{
    text-align: center;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 325px;
    padding: 15px 0;
    margin-top: 15px;
    color: white;
    border-radius: 15px;
}
.NameBack{
    display: flex;
    justify-content: center;
    
}


::-webkit-scrollbar {
    width: 0px;
}